# **Assignment**
* **Subject** : Predictive Analytics 
* **Instructor** : Dr. Srikrishnan
* **Topic** : Regression - Data Description

#**Introduction of Dataset:**
![Large10.jpg]()
* The automobile dataset from the 1985 Ward's Automotive Yearbook contains information on various features of different car models.
* This dataset consists of 205 instances of automobiles from various manufacturers, including American, European, and Asian brands. Each instance has 26 features, including 25 continuous and one categorical feature.

In [25]:
# Importing necessary libraries
'''
By importing the pandas library in our Python code, we can leverage these powerful tools to manipulate and analyze our data efficiently.
We can also easily import and export data from various file formats such as CSV, Excel, and SQL databases using pandas. Overall, pandas 
is an essential library for data scientists and analysts who work with data in Python.
'''

import pandas as pd

In [26]:
from google.colab import files
uploaded = files.upload()

#importing dataset to Colab

Saving Automobile_data.csv to Automobile_data (1).csv

In [27]:
#This command reads the contents of the CSV file 'Automobile_data.csv' and creates a pandas DataFrame object called 'd'.

d=pd.read_csv('Automobile_data.csv')

In [28]:
#It displays information about the DataFrame such as the number of rows, the number of columns, the data type of each column, and the number of non-null values in each column.

d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [29]:
d.describe() #computes summary statistics for each numeric column in the dataset, including the count, mean, standard deviation, minimum, maximum, and quartiles.

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

***This dataset consists of 205 instances of automobiles from various manufacturers, including American, European, and Asian brands. Each instance has 26 features, including 25 continuous and one categorical feature, as described below:***

* **'symboling'**: -3, -2, -1, 0, 1, 2, 3 (categorical);
This feature represents the insurance risk rating of the car, with values ranging from -3 (high risk) to 3 (low risk).

* **'normalized'**-losses: continuous from 65 to 256;
This feature represents the relative average loss payment per insured vehicle year, normalized for all cars within a particular size classification.

* **'make'**:This feature represents the manufacturer of the car.

* **'fuel-type'**: diesel or gas (categorical);
This feature represents the type of fuel the car uses.

* **'aspiration'**: std or turbo (categorical);
This feature represents whether the car has a standard or turbocharged engine.

* **'num-of-doors'**: four or two (categorical);
This feature represents the number of doors on the car.

* **'body-style'**: hardtop, wagon, sedan, hatchback, convertible (categorical);
This feature represents the body style of the car.

* **'drive-wheels'**: 4wd, fwd, rwd (categorical);
This feature represents the type of drive wheels the car has.

* **'engine-location'**: front or rear (categorical);
This feature represents the location of the car's engine.

* **'wheel-base'**: continuous from 86.6 to 120.9 ;
This feature represents the distance between the centers of the front and rear wheels.

* **'length'**: continuous from 141.1 to 208.1;
This feature represents the length of the car.

* **'width'**: continuous from 60.3 to 72.3;
This feature represents the width of the car.

* **'height'**: continuous from 47.8 to 59.8;
This feature represents the height of the car.

* **'curb-weight'**: continuous from 1488 to 4066;
This feature represents the weight of the car without occupants or baggage.

* **'engine-type'**: dohc, dohcv, l, ohc, ohcf, ohcv, rotor (categorical);
This feature represents the type of engine the car has.

* **'num-of-cylinders'**: eight, five, four, six, three, twelve, two (categorical);
This feature represents the number of cylinders in the car's engine.

* **'engine-size'**: continuous from 61 to 326;
This feature represents the size of the car's engine.

* **'fuel-system'**: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi (categorical);
This feature represents the type of fuel system the car has.

* **'bore'**: continuous from 2.54 to 3.94;
This feature represents the diameter of the car's engine cylinders.

* **'stroke'**: continuous from 2.07 to 4.17;
This feature represents the length of the car's engine pistons.

* **'compression-ratio'**: continuous from 7 to 23;
This feature represents the ratio of the volume of the combustion chamber when the piston is at the bottom of its stroke to the volume of the combustion chamber when the piston is at the top of its stroke.

* **'horsepower'**: continuous from 48 to 288
* **'Peak-rpm'**: The peak revolutions per minute (RPM) of the car's engine.
* **'City-mpg'**: The fuel efficiency of the car in city driving conditions (in miles per gallon).
* **'Highway-mpg'**: The fuel efficiency of the car in highway driving conditions (in miles per gallon).
* **'Price'**: The manufacturer's suggested retail price (MSRP) of the car in US dollars.

In [30]:
col=d.columns
print(col)  #returns column lable of the dataframe

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [31]:
d['make'].value_counts() #Car Manufacturer's companies name

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [32]:
d.sample() #Select a row and columns randomnly

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
145,0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,...,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259

In [33]:
d.head() #displays the first few rows of the dataset (by default, the first 5 rows).

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [34]:
d.tail()   #displays the last few rows of the dataset (by default, the last 5 rows).

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [35]:
d.shape   #returns the number of rows and columns in the dataset as a tuple (n_rows, n_columns).

(205, 26)

In [36]:
d.isnull().sum()   #returns the number of missing values (NaN) in each column of the dataset.

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [37]:
d.corr() #computes the pairwise correlation between the columns of the dataset (numeric columns only).

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.178515,-0.035823,0.034606
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.249786,-0.470414,-0.544082
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.158414,-0.670909,-0.704662
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.181129,-0.642704,-0.677218
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.261214,-0.048640,-0.107358
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.151362,-0.757414,-0.797465
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.028971,-0.653658,-0.677470
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,1.000000,0.324701,0.265201
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,0.324701,1.000000,0.971337
highway-mpg,0.034606,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,0.265201,0.971337,1.000000

In [38]:
d.groupby('price').agg(['mean', 'median', 'min', 'max']) # groups the rows of the dataset by the values in a specific column, and computes the mean, median, minimum, and maximum values for each group.

<ipython-input-38-563517246e28>:1: FutureWarning: ['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'num-of-cylinders', 'fuel-system', 'bore', 'stroke', 'horsepower', 'peak-rpm'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  d.groupby('price').agg(['mean', 'median', 'min', 'max']) # groups the rows of the dataset by the values in a specific column, and computes the mean, median, minimum, and maximum values for each group.

      symboling                wheel-base                         length  \
           mean median min max       mean  median    min    max     mean
price
10198       0.0    0.0   0   0     97.000   97.00   97.0   97.0  173.500
10245       0.0    0.0   0   0     98.800   98.80   98.8   98.8  177.800
10295       0.0    0.0   0   0     96.500   96.50   96.5   96.5  175.400
10345       1.0    1.0   1   1     96.500   96.50   96.5   96.5  169.100
10595       1.0    1.0   1   1     98.800   98.80   98.8   98.8  177.800
...         ...    ...  ..  ..        ...     ...    ...    ...      ...
9980        3.0    3.0   3   3     94.500   94.50   94.5   94.5  165.700
9988       -1.0   -1.0  -1  -1    102.400  102.40  102.4  102.4  175.600
9989        2.0    2.0   2   2     98.400   98.40   98.4   98.4  176.200
9995        2.0    2.0   2   2     97.300   97.30   97.3   97.3  171.700
?           0.5    0.5   0   1     96.725   96.45   94.5   99.5  166.425

              ... compression-ratio       city-mpg                highway-mpg  \
      median  ...               min   max     mean median min max        mean
price         ...
10198  173.5  ...               9.0   9.0    25.00   25.0  25  25        31.0
10245  177.8  ...               8.6   8.6    26.00   26.0  26  26        32.0
10295  175.4  ...               9.0   9.0    27.00   27.0  27  27        33.0
10345  169.1  ...               9.1   9.1    25.00   25.0  25  25        31.0
10595  177.8  ...               8.6   8.6    26.00   26.0  26  26        32.0
...      ...  ...               ...   ...      ...    ...  ..  ..         ...
9980   165.7  ...               8.5   8.5    24.00   24.0  24  24        29.0
9988   175.6  ...               8.7   8.7    27.00   27.0  27  27        32.0
9989   176.2  ...               9.3   9.3    24.00   24.0  24  24        30.0
9995   171.7  ...              10.0  10.0    26.00   26.0  26  26        32.0
?      165.8  ...               7.0  10.0    27.25   27.5  16  38        34.0


      median min max
price
10198   31.0  31  31
10245   32.0  32  32
10295   33.0  33  33
10345   31.0  31  31
10595   32.0  32  32
...      ...  ..  ..
9980    29.0  29  29
9988    32.0  32  32
9989    30.0  30  30
9995    32.0  32  32
?       35.5  22  43

[187 rows x 40 columns]

# **Regression problem that we are going to solve**


> **Car price prediction using Linear regression  using this dataset.**



*   Car price prediction using linear regression is a common task in machine learning, and the automobile dataset you mentioned earlier can be used for this purpose. The dataset contains information about various car models, including their features such as horsepower, engine size, curb weight, and others. The price of each car is also included in the dataset.

* The objective of car price prediction using linear regression is to create a model that can estimate the cost of a car based on its features. It is possible to complete this task using the straightforward yet effective approach of linear regression.

* In order to create a linear regression model for predicting automobile prices, we must first divide the dataset into training and testing sets, handle missing values and categorical variables, normalise the data to make it all have the same scale, and then train the model using the training set. After the model has been trained, we may assess its effectiveness using a variety of metrics, including mean squared error and root mean squared error. If the performance is adequate, the model can be used to forecast new car pricing.

*Overall, machine learning may be used to predict car prices using linear regression, and the automobile dataset offers a solid place to start when creating a model for this purpose.*